@model MiniFacebook.Models.UserViewModel


        @foreach (var itemx in Model.Posts)
        {
            <div class="panel panel-default">
                <div class="panel-body">@itemx.Text</div>
                <div class="panel-footer">@itemx.PostTime</div>
            </div>
        }

    

