@model MiniFacebook.Models.UserViewModel

<div>
    @foreach (var item in Model)
    {
        foreach (var itemx in item.Posts)
        {
            <div class="panel panel-default">
                <div class="panel-body">@itemx.Text</div>
                <div class="panel-footer">@itemx.PostTime</div>
            </div>
        }

    }
</div>
