@model MiniFacebook.Domena.Models.ApplicationUser

@{
    ViewBag.Title = "Profile page";
}

<div>
    <b>First Name: </b> @Model.FirstName <br />
    <b>Last Name: </b> @Model.LastName <br />
    <b>User Name: </b> @Model.Nickname <br />



</div>
