@using Microsoft.AspNet.Identity
@using MiniFacebook.Domena.Helpers
@model MiniFacebook.Models.UserViewModel

@{
    ViewBag.Title = "Profile page";
}

@Html.Partial("Header/_Header", Model)
<br />


<div id="tbody">

    @{ Html.RenderAction("Fetch", new { startIndex = 0 });}

</div>

<script type="text/javascript">

    var start = 5;
    var username = '@Url.RequestContext.RouteData.Values["username"]';
    var url = '@Url.Action("Fetch", "User")';
    var tbody = $('#tbody');
    $(window).scroll(function () {
        if ($(window).scrollTop() == $(document).height() - $(window).height()) {

            $.get(url, { startIndex: start, userName: username }, function (response) {
                tbody.append(response);
                start += 5; // increment for next call
            });
        }
    });
        
    //LIKE
    $(document).on("click", "a.like", function () {
        var id = $(this).data("id");
        var nr = $(this).attr("data-assigned");
        var link = "/User/Like/" + id;

        //Choose all a tags with this class and this ID
        var a = $("a[class$='like'][data-id$='" + id + "']");
        
        $.ajax({
            type: "GET",
            url: link,
            success: function (result) {
                a.html('<font size="3"><i class="glyphicon glyphicon-heart"></i></font><b><font size="4"> Like</font></b>').removeClass("like").addClass("unlike");
                
            }
        });
    });

    //UNLIKE
    $(document).on("click", "a.unlike", function () {
        var id = $(this).data("id");
        var nr = $(this).attr("data-assigned");
        
        var link = "/User/Unlike/" + id;      
        
        //Choose all a tags with this class and this ID
        var a = $("a[class$='unlike'][data-id$='" + id + "']");
        

        $.ajax({
            type: "GET",
            url: link,
            success: function (result) {
                a.html('<font size="3"><i class="glyphicon glyphicon-heart-empty"></i></font><font size="4"> Like</font>').removeClass("unlike").addClass("like");
                

            }
        });
    });

</script>

<style>
    body {
        padding-top: 65px;
    }

    [hidden] {
        display: none !important;
    }
</style>



