@using Microsoft.AspNet.Identity
@using MiniFacebook.Domena.Helpers
@model MiniFacebook.Domena.Models.ApplicationUser

@{
    ViewBag.Title = "Profile page";
}

@*@Html.Partial("_ProfileHeader")*@

<style>
    body {
        padding-top: 65px;
    }

    [hidden] {
        display: none !important;
    }
</style>


<div>
    <b>First Name: </b> @Model.FirstName <br />
    <b>Last Name: </b> @Model.LastName <br />
    <b>User Name: </b> @Model.Nickname <br />
</div>
