@using Microsoft.AspNet.Identity
@using MiniFacebook.Domena.Helpers
@model MiniFacebook.Models.UserViewModel

@{
    ViewBag.Title = "Profile page";
}

@Html.Partial("_Header", Model)
<br/>
<div>
    @foreach(var item in Model.Posts)
    {
        <div class="panel panel-default">
            <div class="panel-body">@item.Text</div>
            <div class="panel-footer">@item.PostTime</div>
        </div>
    }
</div>

<style>
    body {
        padding-top: 65px;
    }

    [hidden] {
        display: none !important;
    }
</style>



